service_version=0.11
SNOMED_version=0.1
ETL_version=0.1
OWL_version=1.0 20130715
TermBinding_version=1.1 20131008
NormalForm_version=1.0 20130715
server=localhost
database=testcv
user_db=testCV
pass_db=testCV
LOG=CoreDatasetService
log4j_config=config/log4j.properties
owl_file=files/snomed.owl
