service_version=0.1
author=UPM
SNOMED_version=0.1
ETL_version=0.1
server=localhost
database=testcv
user_db=testCV
pass_db=testCV
log4j_config=config/log4j.properties
LOG=DataPushService
create_file=files/create.sh
temp_file=files/temp.sh
db_script=files/HL7_MySQL_Schema_2.6.3.sql
host_db=localhost
host_db2=localhost
truncate_file=files/truncate.sql
host_transl=localhost
user_transl=testCV
pass_transl=testCV
config_normalization=config/propertiesNormalization.config
dump_script=files/restaura.sh
dump_date=2014-12-18 16:14:01