program_version=1.0
host_db=localhost
host_db2=localhost
user_db=testCV
pass_db=testCV
db_script=
truncate_file=
create_file=
temp_file=
log4j_config=/var/lib/tomcat7/webapps/DataPushService/config/log4jNormalization.properties
LOG=NormalizationPipeline
host_transl=localhost
user_transl=testCV
pass_transl=testCV
